logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
app/com/.DS_Store
app/com/wa9nnn/.DS_Store
app/filters/
app/services/
public/.DS_Store
public/images/.DS_Store
public/javascripts/
test/com/wa9nnn/fountain/fill/
test/resources/
test/src/
